.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: calc(100vh * 0.4);
    background: 100% 100%/cover;
    text-align: center;
    color: map-get($hero, 'section-font-color');
    overflow: hidden;

    @include media('<desktop') {
        height: calc(100vh - 80px);
        padding-top: calc(100vh * 0.3);
    }

    @include media('<tablet') {
        height: calc(100vh - 60px);
    }

    video {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: auto;
        height: 100vh;
        background-size: cover;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }

    .text-wrap {
        display: block;
        max-width: 530px;
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;

        .h1 {
            line-height: 43px;

            @include media('<tablet') {
                margin-bottom: 42px;
                line-height: 25px;
            }

            &:after {
                border-bottom: 1px solid #fff;
            }
        }
    }

    .scroll-button {
        position: absolute;
        border: 1px solid map-get($hero, 'button-border-color');
        padding:  0;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);

        svg {
            width: 51px;
            height: auto;

            @include media('<tablet') {
                width: 41px;
                height: auto;
            }
        }
    }

    .stop-button,
    .play-button {
        position: absolute;
        bottom: 32px;
        right: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: map-get($hero, 'section-font-color');

        @include media('<desktop') {
            display: none;
        }

        i {
            font-size: 30px;
            color: map-get($hero, 'section-font-color');
            margin-left: 1px;
        }
    }

    .hide {
        display: none;
    }
}