.questions {
    padding: 78px 0;
    color: map-get($forms, 'section-font-color');
    font-size: 18px;
    background: map-get($forms, 'section-bg');
    text-align: center;

    @include media('<tablet') {
        display: none;
    }

    h1 {
        position: relative;
        margin-bottom: 75px;
        font-size: 36px;
        font-style: italic;
        font-weight: 300;

        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid #769eca;
            width: 250px;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .question-form-group {
        position: relative;
        max-width:  739px;
        margin: 44px auto 39px auto;
        display: flex;
        justify-content: space-between;
        text-align: left;

        .col {
            width: 48%;
            display: flex;
            flex-direction: column;
        }

        p {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 700;
            color:  map-get($forms, 'placeholder-font-color');
        }

        input {
            height: 51px;
            width: 354px;
            padding: 20px;
        }

        input + input {
            margin-top: 18px;
        }

        textarea {
            height: 189px;
            width: 354px;
            line-height: 20px;
            padding: 20px 30px;
            margin-top: 26px;
        }

        i {
            position: absolute;
            right: 6px;
            top: 195px;
            font-size: 14px;
            color:  map-get($forms, 'placeholder-font-color');
        }

        .alert-message-phone {
            font-size: 14px;
            font-weight: 400;
            color: red;
            width: 212px;
            position: absolute;
            bottom: 70px; 
            left: -212px;
        }

        .alert-message-email {
            font-size: 14px;
            font-weight: 400;
            color: red;
            width: 212px;
            position: absolute;
            bottom: 0; 
            left: -212px;
        }
    }

    .question-button {
        border: 1px solid map-get($forms, 'button-border-color');
        padding: 18px 53px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;

        &:not([disabled]) {

            &:hover,
            &:focus {
              box-shadow: 1px 1px 5px rgba(#fff, 0.5);
            }
          }

        i {
            font-size: 12px;
            margin-left: 8px;
        }
    }

    .alert {
        border: 1px solid red; 
        animation-name: border-blink;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }

    @keyframes border-blink {
        from {
            border: 1px solid red;
        }
        to {
          border: 1px solid transparent; 
        }
    }
}