.resources {
    padding: 75px 0 57px 0;
    font-size: 14px;
    color: map-get($resources, 'section-font-color');
    text-align: center;

    @include media('<desktop') {
        padding: 30px 0;
    }

    .text-wrap {
        max-width: 790px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
        font-size: 18px;
        line-height: 23px;

        @include media('<tablet') {
            font-size: 16px;
        }

        .h1 {
            margin-bottom: 70px;

            @include media('<tablet') {
                margin-bottom: 42px;
            }

            &:after {
                border-bottom: 1px solid #769eca;
                bottom: -40px;

                @include media('<tablet') {
                    bottom: -20px;
                }
            }
        }
    }

    .articles {
        align-items: flex-start;

        .h2 {
            font-size: 18px;
            color: #1a3255;
            margin-bottom: 5px;

            @include media('<tablet') {
                font-size: 16px;
            }
        }

        .col {
            width: 49%;
            text-align: left;

            @include media('<desktop') {
                width: 100%;
                padding-bottom: 21px;
            }
        }

        .col+.col {

            @include media('<tablet') {
                border-top: 1px solid #d7d7d7;
                padding-top: 21px;
            }
        }

        p {
            line-height: 20px;
            margin-bottom: 12px;
        }
    }

    .read-more,
    .download {
        font-weight: 700;
        color: map-get($resources, 'link-color');
    }

    i {
        font-size: 12px;
        margin-left: 8px;
        color: map-get($resources, 'link-color');
    }

    .see-button {
        margin: 35px 0 54px 0;
        border: 1px solid map-get($resources, 'button-border-color');
        padding: 17px 52px;
        font-weight: 700;
        color: #1a3255;

        @include media('<desktop') {
            margin: 16px 0 40px 0;
        }

        i {
            font-size: 12px;
            margin-left: 8px;
        }
    }

    .downloads {

        .h2 {
            font-size: 18px;
            margin-bottom: 36px;

            @include media('<tablet') {
                font-size: 16px;
            }
        }

        .flex-wrap {

            justify-content: center;

            .col {
                width: 34%;
                text-align: center;

                @include media('<tablet') {
                    width: 100%;
                }

                img {
                    width: 167px;
                }

                .h2 {
                    font-size: 18px;
                    margin: 12px 0 7px 0;

                    @include media('<widescreen') {
                        font-size: 14px;
                    }
                }
            }

            .col+.col {
                @include media('<tablet') {
                    display: none;
                }
            }
        }
    }

}