.supervisory {
    padding: 95px 0;
    font-size: 14px;
    color: map-get($welcome, 'section-font-color');
    text-align: center;

    @include media('<desktop') {
        padding: 40px 0;
    }

    .h1 {
        margin-bottom: 68px;

        &:after {
            border-bottom: 1px solid #769eca;
            width: 250px;
            bottom: -30px;
        }
    }

    p {
        line-height: 20px;
    }

    .flex-wrap {
        align-items: flex-start;

        @include media('<tablet') {
            flex-direction: column;
        }
    

        .col {
            width: 31%;
            text-align: left;

            @include media('<tablet') {
                width: 100%;
            }
        }

        .col + .col {

            @include media('<tablet') {
                margin-top: 20px;
            }
        }
    }

}