.supervisory {
    padding: 95px 0;
    font-size: 14px;
    color: map-get($welcome, 'section-font-color');
    text-align: center;

    @include media('<desktop') {
        padding: 40px 0;
    }

    .h1 {
        margin-bottom: 68px;

        @include media('<tablet') {
            margin-bottom: 42px;
        }

        &:after {
            border-bottom: 1px solid #769eca;
            bottom: -30px;

            @include media('<tablet') {
                bottom: -20px;
            }
        }
    }

    p {
        line-height: 20px;
    }

     .text-content {
        column-count: 3;
        column-gap: 35px;

        @include media('<desktop') {
            column-count: 1;
        }

         .col {

            @include media('>=desktop') {
                height: 161px;
            }

             text-align: left;
         }
     }

        .col + .col {

            @include media('<desktop') {
                margin-top: 20px;
            }
        }
    

}