html {
    font-size: 16px;
    font-family: map-get($base, 'base-font-family');
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  margin: 0;
}

.h1 {
    position: relative;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;

    @include media('<tablet') {
        font-size: 23px;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 250px;
        left: 50%;
        transform: translateX(-50%);

        @include media('<tablet') {
            width: 125px;
            bottom: -20px;
        }
    }
}

p {
    margin: 0;
}

button:not([disabled]) {
    &:hover,
    &:focus {
        opacity: 0.5;
    }
}

a {
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.logo,
.footer-logo {
     &:hover,
    &:focus {
        opacity: 0.5;
    }
}
